.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.formInput {
  margin-left: 5px;
  padding: 10px;
  outline: none;
  border: 1px solid lightgrey;
}

.output {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid lightgrey;
  height: 40px;
  border-radius: 5px;
}

.error {
  color: rgb(184, 43, 43);
  font-size: 12px;
}